// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 32px;
  line-height: 30px;
  padding: 0 25.6px;
  font-weight: $text-weight-400;
  font-size: 14px;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.button:hover, .button:focus, .button:active, .button.is-active, .button.active {
  text-decoration: none;
}

.button-block {
  display: block;
}

.button--fullwidth {
  width: 100%;
}

.button--lg {
  height: 64px;
  line-height: 60px;
}

.button--md {
  height: 44px;
  line-height: 40px;

}

.button--green {
  background-color: $brand-color;
  color: $white;
  border-radius: 4px;
  border: 1px solid $brand-color-dark;
  &:hover {
    color: $white;
    background-color: $brand-color-dark;
  }
}

.button-link {
  &:hover {
    text-decoration: underline;
  }
}

.button-link--green {
  color: $brand-color;
}

.button-link--mid-gray {
  color: $mid-grey;
  &:hover {
    color: $dark-grey;
  }
}

.button-link--md {
  font-size: 14px;
}

.button-link--editpost {
  margin-right: 10px;
}

.button--stroke {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid $light-grey;
}

.button-stroke--green {
  color: $dark-grey;
}